
:invalid {
  border-color:red;
  border-width:1px;
  border-style:solid;
}

.large-inline {
	font-size:30px;
	margin-left:10px;
	margin-right:10px;
	position:relative;
	top:5px;
}
.address-bar {
	width:512px;
	display:inline-block;
	margin-top:10px;
}
.navbar {
	margin-bottom:0px;
	background-color:white;
}

.conversion-div {
	padding-bottom:100px;
}
.logo {
	width:20%;
	margin:5px;
}
.jumbotron-frontpage {
	
	background-image: url(../img/bg2.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color:white;
	/*
	color:white;
	background-image: linear-gradient(bottom, rgb(184,6,6) 45%, rgb(247,5,5) 100%);
	background-image: -o-linear-gradient(bottom, rgb(184,6,6) 45%, rgb(247,5,5) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(184,6,6) 45%, rgb(247,5,5) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(184,6,6) 45%, rgb(247,5,5) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(184,6,6) 45%, rgb(247,5,5) 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.45, rgb(184,6,6)),
		color-stop(1, rgb(247,5,5))
	);
*/
}
.place-order a{

  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */

}

.upopulated {
	display:none;
}
.qr-place img {
	width:100%;
}
.track-well {
	position:relative;
	top:10px;
}
.exchrate {
	margin:5px;
}
.to-receive {
	width: 30% !important;
}